services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
      - /app/node_modules
      - /app/dist
    command: npm run dev
    ports:
      - "${API_PORT:-3000}:3000"
