services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
      - /app/node_modules
      - /app/dist
    command: >
      sh -c "npx prisma migrate deploy --schema prisma/schema && npm run dev"
    ports:
      - "${API_PORT:-3000}:3000"
